<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/disk" method="post" enctype="multipart/form-data">
       <input type="file" name="disk" id="disk"><br>
       <!-- <input type="file" name="disk" id="disk1"><br> -->
       <input type="submit" value="submit">
    </form>
  </body>
</html>
